.cont {
  .top {
    color: #FF9302;
    .bg {
      display: inline-block;
      width: 500px;
      height: 258px;
      background-image: url('../img/test.jpg')
    }
  }
  .bottom {
    color: #F00000;
  }
}